In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("Data/data.csv")

In [3]:
df

        km  price
0   240000   3650
1   139800   3800
2   150500   4400
3   185530   4450
4   176000   5250
5   114800   5350
6   166800   5800
7    89000   5990
8   144500   5999
9    84000   6200
10   82029   6390
11   63060   6390
12   74000   6600
13   97500   6800
14   67000   6800
15   76025   6900
16   48235   6900
17   93000   6990
18   60949   7490
19   65674   7555
20   54000   7990
21   68500   7990
22   22899   7990
23   61789   8290

**df** : training set
<br>
**x(i)** : "input" variables (mileage in this example)
<br>
**y(i)** : "Output" or target variable that we are trying to predict (Price)
<br>
the pair **(x(i),y(i))** is called a training example
<br>

In [7]:
df.columns

[{"km":240000,"price":3650},{"km":139800,"price":3800},{"km":150500,"price":4400},{"km":185530,"price":4450},{"km":176000,"price":5250},{"km":114800,"price":5350},{"km":166800,"price":5800},{"km":89000,"price":5990},{"km":144500,"price":5999},{"km":84000,"price":6200},{"km":82029,"price":6390},{"km":63060,"price":6390},{"km":74000,"price":6600},{"km":97500,"price":6800},{"km":67000,"price":6800},{"km":76025,"price":6900},{"km":48235,"price":6900},{"km":93000,"price":6990},{"km":60949,"price":7490},{"km":65674,"price":7555},{"km":54000,"price":7990},{"km":68500,"price":7990},{"km":22899,"price":7990},{"km":61789,"price":8290}]

In [ ]:
ax = df.plot.scatter(x='km',
                     y='price',
                     c='DarkBlue')

# Hypothesis

Our goal is given a training set, to learn a function *h: X -> Y* so that h(x) is a predictor for the corresponding value of y.
<br>
**h(x)** : Hypothesis
<br>
**$θ_{i}$** : Parameters of the model
<br>
<center>h(x) = $θ_{0}$ + ($θ_{1}$ * x)<center>

# Cost Function

We can measure the accuracy of our hypothesis function by using a cost function. This takes an average difference (actually a fancier version of an average) of all the results of the hypothesis with inputs from x's and the actual output y's.
<br>
\begin{equation*}
J(θ_0,θ_1) = \frac{1}{2n} \left( \sum_{k=1}^n (h_θ(x_i) - y_i)^2 \right)
\end{equation*}
<br>
**n** : Number of training examples

# Gradient  Descent

Have some function J(${θ_0}$,${θ_1}$)
<br>
Want min J(${θ_0}$,${θ_1}$)
<h4>Outline :</h4>
<br>
<ul>
  <li>Start with some ${θ_0}$,${θ_1}$</li>
  <li>Keep changing ${θ_0}$,${θ_1}$ to reduce J(${θ_0}$,${θ_1}$) until we hopefully end up at a minimum</li>
</ul>

<h4>The gradient descent algorithm is:</h4>
<br>
repeat until convergence:  {
\begin{equation*}
tmp_0 := θ_0 - α\frac{\partial}{\partial θ_0}J(θ_0,θ_1)
\end{equation*}
\begin{equation*}
tmp_1 := θ_1 - α\frac{\partial}{\partial θ_1}J(θ_0,θ_1)
\end{equation*}
<center>${θ_0}$ := ${tmp_0}$
<br>
${θ_1}$ := ${tmp_1}$</center>
<br>
}
<br>

**α** : Learning rate 
<br>
if α is too small, gradient descent can be slow.
<br>
if α is too large, gradient descent can overshoot the minimum. it may fail to converge, or even diverge.

# Gradient Descent For Linear Regression

<h4>The gradient descent algorithm for linear regression is:</h4>
<br>
repeat until convergence:  {
\begin{equation*}
tmp_0 := θ_0 - α\frac{1}{n} \left( \sum_{k=1}^n (h_θ(x_i) - y_i)\right)
\end{equation*}
\begin{equation*}
tmp_1 := θ_1 - α\frac{1}{n} \left( \sum_{k=1}^n ((h_θ(x_i) - y_i)x_i)\right)
\end{equation*}
<center>${θ_0}$ := ${tmp_0}$
<br>
${θ_1}$ := ${tmp_1}$</center>
<br>
}
<br>